
@using AutoDealer.Web.ViewModels
<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en">
  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Car Dealer | Home</title>

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/Plugins/css/style.css" rel="stylesheet" />
    <link href="~/Plugins/css/skeleton.css" rel="stylesheet" />
    <link href="~/Plugins/sliders/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <!-- HTML5 Shiv + detect touch events -->
    <script src="~/Plugins/js/modernizr.custom.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="menu-1 h-style-1 text-1">

    <div class="wrap">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <header id="header" class="clearfix">

            <a href="/Home/Index" id="logo"> <img src="~/Files/images/logo.png" alt="Car Dealer" /> </a>

            <div class="widget-container widget_search">

                <span class="call"><span>+1 234</span> 567-8901</span><br />

                <span class="adds">xxx Street, xxx xxx, xx, xxxx</span>

                <form action="/Home/Search" id="searchform" method="get">
                    <p>
                        <input type="text" id="search" placeholder="Search" />
                        <button type="submit" id="searchsubmit"></button>
                    </p>
                </form><!--/ #searchform-->

            </div><!--/ .widget-container-->

            <nav id="navigation" class="navigation">

                <ul>
                    <li class="current-menu-item"><a href="/Home/Index">Home</a></li>
                    <li> <a href="/Home/BrowseBy">Browse By</a> </li>
                </ul>

            </nav><!--/ #navigation-->

        </header><!--/ #header-->
        <!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - Top Panel - - - - - - - - - - - - - - - - -->

        <div class="top-panel clearfix">

            <!-- - - - - - - - - - - Slider - - - - - - - - - - - - - -->

            <div id="slider" class="flexslider clearfix">

                <ul class="slides">
                    @foreach (SliderAutoModel slider in ViewBag.Sliders)
                    {
                        <li>
                            <img src="@slider.img" alt="" />

                            <div class="caption">
                                <div class="caption-entry">

                                    <dl class="auto-detailed clearfix">
                                        <dt><span class="model">@slider.Year </span> <span class="model">@slider.Brand</span></dt>
                                        <dd class="media-hidden"><b>@slider.Style</b></dd>
                                        <dd class="media-hidden"><b>@slider.Mileage Miles</b></dd>
                                        <dd><span class="heading">$@slider.Price</span></dd>
                                    </dl><!--/ .auto-detailed-->

                                    <a href="/Home/Detail/@slider.AutoId" class="button orange">Details &raquo;</a>

                                </div><!--/ .caption-entry-->
                            </div><!--/ .caption-->
                        </li>
                    }



                </ul><!--/ .slides-->

            </div><!--/ #slider-->
            <!-- - - - - - - - - - - end Slider - - - - - - - - - - - - - -->
            <!-- - - - - - - - - - - Search Panel - - - - - - - - - - - - - -->
            @{
                OptionsModel options = ViewBag.Options as OptionsModel;

                <div class="widget_custom_search">

                    <h3 class="widget-title">Quick Search</h3>

                    <form action="/Home/QuickSearch" id="boxpanel" class="form-panel" method="post">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <label for="manufacturer">Manufacturer:</label>
                            <select id="Maker" name="Maker">
                                @foreach (var maker in options.Makers)
                                {
                                    <option value="@maker.Name" />@maker.Name
                                }
                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="MinPrice">Min Price:</label>
                            <input id="MinPrice" name="MaiPrice" type="text" />
                        </fieldset>

                        <fieldset>
                            <label for="trans">Max Price:</label>
                            <input id="MaxPrice" name="MaxPrice" type="text" />
                        </fieldset>

                        <fieldset>
                            <label for="trans">Transmission:</label>
                            <select id="trans" name="trans">
                                @foreach (var tran in options.Trans)
                                {
                                    <option value="@tran.Transmission" />@tran.Transmission
                                }

                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="trans">Max Price:</label>
                            <input id="MaxPrice" name="MaxPrice" type="text"/>
                        </fieldset>

                        <fieldset>
                            <label for="Style">Body Type:</label>
                            <select id="Style" name="Style">
                                @foreach (var style in options.DriveTypes)
                                {
                                    <option value="@style.DriveType" />@style.DriveType
                                }
                            </select>
                        </fieldset>

                        <div class="clear"></div>
                        <button id="submitSearch" class="submit-search" type="submit">Search</button>

                    </form><!--/ .form-panel-->

                </div><!--/ .main-search-panel-->
            }
            <!-- - - - - - - - - - end Search Panel - - - - - - - - - - - - -->

        </div><!--/ .top-panel-->
        <!-- - - - - - - - - - - - - end Top Panel - - - - - - - - - - - - - - - -->

        <div class="main">

            <!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->

            <section class="container sbr clearfix">

                <!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

                <section id="content" class="sixteen columns">

                    <div class="recent-list-cars">

                        <h3 class="widget-title">Recent Automobiles</h3>

                        <ul class="clearfix">
                            @foreach (BannerAutoModel banner in ViewBag.Banners)
                            {
                                <li>
                                    <a href="/Home/Detail/@banner.AutoId" class="single-image video picture">
                                        <img src="@banner.img" alt="" />
                                    </a>

                                    <a href="/Home/Detail/@banner.AutoId" class="list-meta">
                                        <h6 class="title-list-item">@banner.Year @banner.Maker @banner.Brand</h6>
                                    </a>

                                    <div class="detailed">
                                        <span class="cost">$@banner.Price</span>
                                        <span>@banner.Style</span> <br />
                                        <b>@banner.Mileage Miles</b>
                                    </div><!--/ .detailed-->

                                    <a href="/Home/Detail/@banner.AutoId" class="button orange">Details</a>
                                    <label class="compare"><input type="checkbox" />Compare</label>

                                </li>
                            }


                        </ul>

                        <a href="/Home/BrowseBy" class="see">See all automobiles</a>

                    </div><!--/ .recent-list-cars-->

                </section><!--/ #content-->
                <!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

            </section><!--/.container -->
            <!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->

        </div><!--/ .main-->
        <!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <footer id="footer" class="container clearfix">

            <section class="container clearfix">

                <div class="adjective clearfix">

                    <p class="copyright">Copyright  </a></p>

                </div><!--/ .adjective-->

            </section><!--/ .container-->

        </footer><!--/ #footer-->
        <!-- - - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ .wrap-->

    <div class="account-wrapper">

        <form class="form-reg" method="post" action="" >

        <a href="#" class="log">Login</a>

        <p>
            <label>Username*</label>
            <input class="input-medium" type="text" />
        </p>

        <p>
            <label>Password*</label>
            <input class="input-medium" type="password" />
        </p>

        <p class="forgot-pass">
            <a href="#">Forgot your password?</a>
        </p>

        <p>
            <a href="/Account/User/Login" class="button dark enter-btn">Login</a>
            <a href="/Account/User/Add" class="button dark enter-btn">Create an account</a>
        </p>

        </form><!--/ .form-reg-->

    </div><!--/ .account-wrapper-->

    <script src="~/Plugins/js/jquery-1.7.2.min.js"></script>
    <script src="~/Plugins/js/custom.js"></script>
    <script src="~/Plugins/sliders/flexslider/jquery.flexslider-min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Plugins/js/selectivizr-and-extra-selectors.min.js"></script>
    <![endif]-->
</body>
</html>
